streamlit
Crawl4AI
unstructured
Markdown
duckduckgo_search
pip uninstall -y chromadb hnswlib duckdb duckdb-engine chromadb-hnswlib chromadb-client
pip install --force-reinstall --no-cache-dir chromadb
langchain-community
ollama
